body{
    box-sizing: border-box;
}

.title{
    width: 100%;
    height: 100px;
    font-size: 50px;
    padding: 20px;
    text-align: center;
    color: #f16529;
}
.banner{
    height: 360px;
    width: 992px;
    background-image: url(../img/banner.png);

}

footer
{
    background-color: lightgray;
    padding: 20px;

}

.container{
    width: 992px;
    margin-left: auto;
    margin-right: auto;
}

.post-title {
    width: 75%;
    color: #f16529;
    text-align: center;
    font-size: 30px;
}
.post-body{
    color: #777;
    line-height: 145%;

}
.post-body p{
    text-align: justify;

}
h2{color:
    #f16529;}